{% extends "base.html" %}


{% block page_name %} Home {% endblock page_name %}

{% block content %}

    {% for room in rooms_pages.object_list %}
        <h3>{{room.name}} / ${{room.price}}</h3>
    {% endfor %}

        
    <h5>
    {% comment %} 
    Django static template simple logic stuffs like page + 1 
    https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#built-in-filter-reference 
    {% endcomment %}
    
    {% if rooms_pages.has_previous %}
        <a href="?page={{rooms_pages.number|add:-1}}">Previous</a>
    {% endif %}
    
    Page {{rooms_pages.number}} of {{rooms_pages.paginator.num_pages}}
    
    {% if rooms_pages.has_next %}
        <a href="?page={{rooms_pages.number|add:+1}}">Next</a>
    {% endif %}    
    </h5>

{% endblock content%}