{% extends "base.html" %}


{% block page_name %} Home {% endblock page_name %}

{% block content %}

    {% for room in rooms_page.object_list %}
        <h5>{{room.name}} / ${{room.price}}</h5>
    {% endfor %}

        
    <h5>
    {% comment %} 
    Django static template simple logic stuffs like page + 1 
    https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#built-in-filter-reference 
    {% endcomment %}
    

    {% comment %} https://docs.djangoproject.com/en/3.0/ref/paginator/#id1 {% endcomment %}
    {% if rooms_page.has_previous %}
        <a href="?page={{rooms_page.previous_page_number}}">Previous</a>
    {% endif %}
    
    Page {{rooms_page.number}} of {{rooms_page.paginator.num_pages}}
    
    {% if rooms_page.has_next %}
        <a href="?page={{rooms_page.next_page_number}}">Next</a>
    {% endif %}    
    </h5>

{% endblock content%}