{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% comment %} not inheriting search-bar from base.html {% endcomment %}
{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<h2>Search</h2>

{% comment %} GETTING USER REQUESTS {% endcomment %}
<form method="get" action="{% url "rooms:search" %}">
  {% comment %} https://docs.djangoproject.com/en/2.2/ref/forms/api/#as-p {% endcomment %}
  {{form.as_p }}
  <button>Search</button>
</form>

<h3> Results </h3>

{% for room in rooms %}
  <h4>{{room.name}}</h4>
{% endfor %}
  
{% if rooms.has_previous %}
    <a href="?page={{rooms.previous_page_number}} & {{parameters}}">Previous</a>
{% endif %}

Page {{rooms.number}} of {{rooms.paginator.num_pages}}
{% if rooms.has_next %}
    <a href="?page={{rooms.next_page_number}} & {{parameters}}">Next</a>
{% endif %}

{% endblock content%} 