@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font: size 10px;
}

// em is relative to closest font-size
// rem is relative to root font size
.box {
  font-size: 20px;
  .child {
    width: 0.5rem;
  }
}

// "npm run css" for compiling customization made in scss to css
.search-box {
  transition: box-shadow 0.15s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-gray-600;
  }
}
