<!-- cloning webpage: https://www.airbnb.com/s/seoul/all?query=seoul&adults=0&children=0&infants=0&guests=0&source=mc_search_bar&search_type=unknown -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| AirBnB</title>
  </head>

  <!-- font colors and positioning all body elements -->
  <!-- https://tailwindcss.com/docs/customizing-colors/#gray -->
  <!-- https://tailwindcss.com/docs/margin/#app : margin top -->
  <body class="text-gray-800 mt-24">
    <!-- father of all top header elements -->
    <!-- https://tailwindcss.com/docs/container -->
    <!-- https://tailwindcss.com/docs/flex -->
    <!-- https://tailwindcss.com/docs/justify-content -->
    <!-- https://tailwindcss.com/docs/padding -->
    <!-- https://tailwindcss.com/docs/height -->
    <!-- https://tailwindcss.com/docs/border-width -->
    <!-- https://tailwindcss.com/docs/border-color -->
    <!-- https://tailwindcss.com/docs/height -->
    <!-- https://tailwindcss.com/docs/top-right-bottom-left : distance body element and header -->
    <header class="container max-w-full flex inset-0 items-center justify-between px-3 h-20 border-b border-gray-400 fixed bg-white">
      <!-- search bar positioning -->
      <!-- https://tailwindcss.com/docs/flex -->
      <!-- https://tailwindcss.com/docs/align-items for items-center -->
      <!-- https://tailwindcss.com/docs/width/#app -->
      <div class="flex items-center w-1/3">
        <!-- logo styling -->
        <!-- https://tailwindcss.com/docs/margin/#app margin right -> mr -->
      <a href="{% url "core:home"%}" class="mr-4">
        <img class="w-10" src="{% static 'img/logo.png'%}" >
      </a>
      {% block search-bar %}
      <!-- search bar block styling -->
      <!-- https://tailwindcss.com/docs/width/#app -->
        <form method="get" action="{% url "rooms:search" %}" class="w-11/12">
        <!-- input and input placeholder styling -->
        <!-- https://tailwindcss.com/docs/border-width : setting up default border as border-->
        <!-- https://tailwindcss.com/docs/border-radius -->
        <!-- https://tailwindcss.com/docs/padding : px is x axis padding, py is y axis padding-->
        <!-- https://tailwindcss.com/docs/width -->
        <!-- https://tailwindcss.com/docs/font-size : text small-->
        <!-- https://tailwindcss.com/docs/font-weight/ : font weight medium -->
        <!-- https://tailwindcss.com/docs/text-color -->
        <!-- https://tailwindcss.com/docs/placeholder-color -->
        <!-- https://tailwindcss.com/docs/box-shadow : shadow is gradiaiton on the border. shadow medium -> large when hovered over  -->
        <!-- https://tailwindcss.com/docs/outline : no blue ugly outline when hobered over -->
        <!-- search-box is class we created, and handles the action in styles.scss -->
        <input class="search-box border rounded-sm px-5 py-2 w-full shadow-md text-sm font-medium text-gray-500 placeholder-gray-700 hover:shadow-lg outline-none" name="city" placeholder ="Search by City">
      </form>
      {% endblock search-bar %}
      </div>
      {% include "partials/nav.html"%}
    </header>
    {% block content %}{% endblock %}
    {% include "partials/footer.html"%}
  </body>
</html>

