<!-- cloning webpage: https://www.airbnb.com/s/seoul/all?query=seoul&adults=0&children=0&infants=0&guests=0&source=mc_search_bar&search_type=unknown -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %}| AirBnB</title>
  </head>
  <!-- https://tailwindcss.com/docs/customizing-colors/#gray -->
  <body class = "text-gray-800">
    <!-- https://tailwindcss.com/docs/container -->
    <!-- https://tailwindcss.com/docs/flex -->
    <!-- https://tailwindcss.com/docs/align-items for items-center -->
    <!-- https://tailwindcss.com/docs/justify-content -->
    <!-- https://tailwindcss.com/docs/padding -->
    <!-- https://tailwindcss.com/docs/height -->
    <!-- https://tailwindcss.com/docs/border-width -->
    <!-- https://tailwindcss.com/docs/border-color -->
    <header class = "container max-w-full flex items-center justify-between px-3 h-20 border-b border-gray-400">
      <div class="flex items-center">
        <!-- https://tailwindcss.com/docs/margin/#app margin right -> mr -->
      <a href="{% url "core:home"%}" class="mr-4">
        <img class="w-12" src="{% static 'img/logo.jpg'%}" >
      </a>

      {% block search-bar %}
      
      <form method="get" action="{% url "rooms:search" %}">
        <!-- https://tailwindcss.com/docs/border-width : border px is x axis padding, py is y axis padding -->
        <!-- https://tailwindcss.com/docs/border-radius -->
        <input class="border px-2 py-1 rounded-sm" name="city" placeholder ="Search by City">
      </form>
      
      {% endblock search-bar %}
      </div>
      {% include "partials/nav.html"%}
    </header>
    {% block content %}{% endblock %}
    {% include "partials/footer.html"%}
  </body>
</html>

