{% extends "base.html" %}

{% block page_title %}
    Log in
{% endblock page_title %}

{% comment %} not inheriting search-bar from base.html {% endcomment %}
{% block search-bar %}
{% endblock search-bar %}

{% block content %}
Hello
    {% include "partials/social_login.html" %}
    
    <!-- https://docs.djangoproject.com/en/3.0/ref/csrf/ -->
    <form method="POST" action="{%url "users:login" %}">{% csrf_token %}
        <!-- .as_p is dividing into paragraphs -->
        {{form.as_p}}
        <button>Login</button>
    </form>
{% endblock content%} 